<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <title>help</title>
        <div class="main-content">
           {{>header}}
          <p>Here I am to help you :)</p>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>